# Dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/build
/dist

# React Native
.expo
.expo-shared

# System files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode
.idea
*.sublime-workspace
*.sublime-project

# Environment files
.env
.env.*.local
